* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Playfair Display', serif;
    background: green;
}
html{
    scroll-behavior: smooth;
}

.navigation {
    width: 100vw;
    height: 100px;
    background-color: rgb(42, 83, 3);
    border: 1px solid black;
}

.container {
    width: 99vw;
    height: 99vh;
    position: relative;
}

.container-square1, .container-square2 {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: red;
    border: 1px solid black;
    transform: rotate(45deg);
}

.container-rectangle1, .container-rectangle2 {
    position: absolute;
    width: 120px;
    height: 20px;
    background-color: rgb(38, 0, 255);
    border: 1px solid black;
}
.container-rectangle1 {
    margin-left: 41%;
    margin-top: 9%;
}
.container-rectangle2 {
    margin-left: 41%;
    margin-top: 12%;
}


.container-square1 {
    margin-left: 20%;
    margin-top: 40px;
}

.container-square2 {
    margin-left: 10%;
    margin-top: 12%;
}

.container-circle {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: rgb(7, 87, 119) ;
    border: 1px solid black;
    margin-left: 51%;
    margin-top: 8%;
    
}

.container-rectangle3 {
    position: absolute;
    width: 200px;
    height: 450px;
    background-color: blanchedalmond;
    text-align: center;
    border: 1px solid black;
    font-size: 35px;
    margin-left: 75%;
    margin-top: 2%;
}

@media screen and (max-width: 583px) {
    .container-circle {
        width: 120px;
        height: 120px;
        margin-left: 50%;
        margin-top: 55%;
        
    }

    .container-rectangle1 {
        margin-left: 15%;
        margin-top: 62%;
    }

    .container-rectangle2 {
        margin-left: 15%;
        margin-top: 70%;
    }

    .container-square2 {
        margin-left: 18%;
        margin-top: 28%;
    }

    .container-square1 {
        margin-left: 40%;
        margin-top: 40px;
    }

    .container-square1, .container-square2 {
        width: 125px;
        height: 125px;
    }

    .container-rectangle3 {
        width: 200px;
        height: 320px;
        background-color: rgb(55, 5, 236);
        font-size: 20px;
        margin-left:20%;
        margin-top: 84%;
        padding-top: 10px;
    }
  }

@media screen and (max-width: 900px) {
   
}

@media screen and (min-width: 901px) {
   
}